@media screen and (min-width: 678) {
    .header{
        background-image: url("../images/desktop/image-header.jpg");
        background-position: center;
        background-size: cover;
    }
    .nav--menu{
        position: static;
        opacity: 1;
        background-color: transparent;
        display: flex;
    }
}
.input
.nav--nav--item{
    color: var(--white);
    padding: 0 1 rem;
}